# Log files
*.log
*.jou
*.obj
*.ipch
*.ilk
*.pdb
*.wcfg

# Temp files
*.dcp

# Cache folder
/HomebrewGPU.cache/*
/HomebrewGPU.runs/*
/HomebrewGPU.sim/*
/HomebrewGPU.hw/*
/Test/*
/Wave/*
/SoftwareEmu/HomebrewGPU/Debug/*
/SoftwareEmu/HomebrewGPU/HomebrewGPU/Debug/*